@import "tailwindcss";
html,
body,
#root {
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4e9e1;
}
.lobster {
  font-family: "Lobster Two", cursive;
}
/* hide scrollbar but keep scroll */
.no-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
