@import "tailwindcss";
html,
body,
#root {
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4e9e1;
}
.lobster {
  font-family: "Lobster Two", cursive;
}
.para {
  font-family: "Inter", sans-serif;
}
/* Custom marquee animation */
@layer utilities {
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-marquee {
    animation: marquee 3s linear infinite;
    &:hover {
      animation: marquee 6s linear infinite paused;
    }
  }
}
